version: '3.8'

services:
  oracle-drill:
    build: .
    container_name: oracle-drill-container
    ports:
      - "5173:5173"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true